@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.link_gradient {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)),
        linear-gradient(180deg, #2AABEE 0%, #229ED9 99.26%);
}

.red_blur {
    background: linear-gradient(180deg, rgba(255, 33, 0, 0) -23.62%, #FF2100 55.73%);
}

.green_blur {
    background: linear-gradient(180deg, rgba(99, 199, 150, 0) -23.62%, #63C796 55.73%);
}

.our_cripto .swiper-pagination-bullet {
    background-color: white !important;
    width: 8px !important;
    height: 4px !important;
    display: inline-block;
    border-radius: 20px !important;
    background: #616161 !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

.our_cripto .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white !important;
    width: 24px !important;
}

.card_border {
    background: linear-gradient(85.18deg, rgba(255, 255, 255, 0) 0.18%, rgba(255, 255, 255, 0.08) 100.43%);
}