@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Actay-Wide';
    src: url("./assets/fonts/actaywide-bold.otf")
}

.font_actay_wide {
    font-family: 'Actay-Wide';
}

.manrope {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #03031B;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #63c796;
    border-radius: 10px;
}

/* .our_cripto .swiper-pagination-bullet {
    background-color: #63C796 !important;
} */

.hero_left_hexagon svg {
    max-width: 700px;
}

.hero_right_hexagon svg {
    max-width: 780px;
}


.hero_gallery {
    animation: heroGallery 3s ease-in-out infinite;
}

@keyframes heroGallery {
    0% {
        filter: blur(0);
        box-shadow: 0 0 50px #d58484;
    }

    50% {
        filter: blur(1px);
        box-shadow: 0 0 90px #d58484;
    }

    100% {
        filter: blur(0);
        box-shadow: 0 0 50px #d58484;
    }

}

.hero_polkadot {
    animation: heroPolkadot 3s ease-in-out infinite;
}

@keyframes heroPolkadot {
    0% {
        filter: blur(0);
        box-shadow: 0 0 50px rgba(255, 37, 181, 0.7);
    }

    50% {
        filter: blur(1px);
        box-shadow: 0 0 90px rgba(255, 37, 181, 0.7);
    }

    100% {
        filter: blur(0);
        box-shadow: 0 0 50px rgba(255, 37, 181, 0.7);
    }

}

.dollor_icon {
    animation: dollorIcon 3s ease-in-out infinite;
}

@keyframes dollorIcon {
    0% {
        filter: blur(0);
        box-shadow: 0 0 50px #a78a59;
    }

    50% {
        filter: blur(1px);
        box-shadow: 0 0 90px #a78a59;
    }

    100% {
        filter: blur(0);
        box-shadow: 0 0 50px #a78a59;
    }

}

.hero_skull {
    animation: heroSkull 3s ease-in-out infinite;
}

@keyframes heroSkull {
    0% {
        filter: blur(0);
        box-shadow: 0 0 50px #265CAD;
    }

    50% {
        filter: blur(1px);
        box-shadow: 0 0 90px #265CAD;
    }

    100% {
        filter: blur(0);
        box-shadow: 0 0 50px #265CAD;
    }

}

.danger_blur {
    animation: dangerBlur 2s ease-in-out infinite alternate;
}

@keyframes dangerBlur {
    0% {
        filter: blur(120px);
    }

    100% {
        filter: blur(160px);
    }
}

.hue_img {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

.wifi_icon .first_circle {
    animation: wifiIcon 2s ease-in-out infinite 3s;
}

@keyframes wifiIcon {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.wifi_icon .last_circle {
    animation: wifiIconLast 2s ease-in-out infinite;
}

@keyframes wifiIconLast {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width:1439.98px) {
    .hero_left_hexagon svg {
        max-width: 580px;
    }

    .hero_right_hexagon svg {
        max-width: 690px;
    }
}

@media (max-width:1199.98px) {
    .hero_left_hexagon svg {
        max-width: 550px;
    }

    .hero_right_hexagon svg {
        max-width: 630px;
    }
}

@media (max-width:1023.98px) {
    .core_icons svg {
        width: 105px;
        height: 105px;
    }

    .our_cripto .swiper {
        height: 336px !important;
    }

    .hero_left_hexagon svg {
        max-width: 500px;
    }

    .hero_right_hexagon svg {
        max-width: 570px;
    }
}

/* ===== FOOTER CSS ===== */
@media (max-width:767.98px) {
    .footer_hexagon svg {
        width: 270px;
    }

    .our_cripto .swiper {
        height: 340px !important;
    }

    .our_cripto .swiper-slide {
        padding: 0 6px !important;
    }

    .hero_left_hexagon svg {
        max-width: 400px;
    }

    .hero_right_hexagon svg {
        max-width: 400px;
    }
}

@media (max-width:479.98px) {
    .hero_left_hexagon svg {
        max-width: 300px;
    }

    .hero_right_hexagon svg {
        max-width: 320px;
    }
}