@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Actay-Wide';
    src: url("./assets/fonts/ActayWide-Bold.otf");
}

.font_actay_wide {
    font-family: 'Actay-Wide';
}

.manrope {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #03031B;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #63c796;
    border-radius: 10px;
}