@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'FontOver';
    src: url("./assets/fonts/FontOver.otf");
}

.font_over {
    font-family: 'FontOver';
}

.manrope {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #03031B;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #63c796;
    border-radius: 10px;
}